<!-- board section -->
<section class="board">
  <div class="board-title">
    <div class="arrow-accent"></div>
    <h1>Our Board is Pretty Cool</h1>
  </div>
  <div class="board-years">
    <ul>
      <li>2019-20</li>
      <li>2018-19</li>
      <li>etc..</li>
    </ul>
  </div>
  <div class="board-positions">
    <ul>
      <li>President</li>
      <li>Vice President</li>
      <li>etc..</li>
    </ul>
  </div>
  <div class="board-description">
    <div class="board-description-title">
      <h2>Name</h2>
      <div class="socialMedia-links">
        <div>facebook</div>
        <div>insta</div>
      </div>
    </div>
    <div class="board-description-pgraph">
      Some information about this person will go here. It can be pretty
      substantive!
    </div>
    <div class="image-wrapper">
      image of person here
      <img src="../assets/img/apple.jpeg" />
    </div>
  </div>
</section>
