<!-- gala section -->
<section class="gala">
  <div class="gala-title">
    <div class="arrow-accent"></div>
    <h1>And We Can Really Put On A Show</h1>
  </div>
  <div class="gala-pgraph">
    <p>
      <span><h3>Our Annual Independence Day Gala is</h3></span> here will go
      some text that explains what this gala is. It should be substantive yet
      nice.
    </p>
    <div class="pgraph-link">
      <div class="arrow-accent"></div>
      <a routerLink="/">GET GALA TICKETS</a><br />
      <a routerLink="/">NOT CONVINCED? – FIND OUT MORE</a>
    </div>
  </div>
  <div class="image-wrapper">
    gala picture
    <img src="../assets/img/apple.jpeg" />
  </div>
</section>
