.gala-pgraph {
  color: #201f1e;
  padding: 0rem 1.5rem 1.5rem;
  font-family: neue-haas-unica, sans-serif;
  font-weight: lighter;
}

.gala-text {
  position: relative;
  margin: 0 auto;
  width: 90vw;
  background-color: rgba(255, 255, 255, 0.562);
  padding: 1rem;
  box-shadow: 2px 2px #201f1e;
}
