<!-- landing section -->
<section class="landing">
  <div class="landing-title">
    <h1>Here Are A Few Reasons to Fall For Haravard College's NSA</h1>
  </div>
  <div class="image-wrapper">
    <img src="../assets/img/apple.jpeg" />
  </div>
  <div class="landing-pgraph">
    <div class="landing-pgraph-top">
      <div class="arrow-accent"></div>
      <h3>Watch Us In Action</h3>
    </div>
    <p>
      An interesting line of text will go here that inspires the viewer to keep
      scrolling. Maybe three short lines.
    </p>
  </div>
  <div class="socialMedia-links">
    <div>Facebook</div>
    <div>Instagram</div>
  </div>
</section>

<!-- email banner section -->
<section class="emailBanner">
  <h2>Like us already? Sign up for our emails!</h2>
  <input type="text" placeholder="Email" />
  <button><div class="arrow-action">Send it</div></button>
</section>

<!-- about section -->
<section class="about">
  <div class="image-wrapper">
    <img src="../assets/img/apple.jpeg" />
  </div>
  <div class="about-pgraph">
    <p>
      The Nigerian Students Association (NSA) at Harvard College is an
      organization founded in 2004 by a group of Nigerian undergraduate
      students. NSA has grown both in numbers and respect to become one of the
      leading organizations for students on campus. Based on the common culture
      and values of Nigerian and Nigerian American students on campus, the NSA
      has not only created a community for Nigerians to come together, but has
      also spread an appreciation for the Nigerian culture throughout campus
      through various activities and events.
    </p>
  </div>
</section>

<!-- initiatives/programming section -->
<section class="initiatives">
  <div class="initatives-title">
    <div class="arrow-accent"></div>
    <h1>We've Got Inititiative(s)</h1>
  </div>
  <div class="image-wrapper">
    short and wide image here!
    <img src="../assets/img/apple.jpeg" />
  </div>
  <div class="image-wrapper">
    square image here!
    <img src="../assets/img/apple.jpeg" />
  </div>
  <div class="inititaitves-pgraph">
    <p>
      Some text about each initiative will go here. Ideally it will be fairly
      substantial.
    </p>
  </div>
  <div class="initiatives-links">
    <h2>Mentorship</h2>
    <h2>Naija Feels</h2>
    <h2>Internships Across</h2>
    <h2>Nigerian Collegiate Conf.</h2>
  </div>
</section>

<!-- social media section -->
<section class="socialMedia">
  <div class="socialMedia-fb">
    <h2>give us a like on <span>fb</span></h2>
    <div class="socialMedia-fb-reel">
      facebook reel will go here
    </div>
  </div>
  <div class="socialMedia-insta">
    <h2>& give us a your heart on <span>insta</span></h2>
    <div class="socialMedia-insta-reel">
      instagram reel will go here
    </div>
  </div>
</section>

<!-- board section -->
<section class="board">
  <div class="board-title">
    <div class="arrow-accent"></div>
    <h1>Our Board is Pretty Cool</h1>
  </div>
  <div class="board-years">
    <ul>
      <li>2019-20</li>
      <li>2018-19</li>
      <li>etc..</li>
    </ul>
  </div>
  <div class="board-positions">
    <ul>
      <li>President</li>
      <li>Vice President</li>
      <li>etc..</li>
    </ul>
  </div>
  <div class="board-description">
    <div class="board-description-title">
      <h2>Name</h2>
      <div class="socialMedia-links">
        <div>facebook</div>
        <div>insta</div>
      </div>
    </div>
    <div class="board-description-pgraph">
      Some information about this person will go here. It can be pretty
      substantive!
    </div>
    <div class="image-wrapper">
      image of person here
      <img src="../assets/img/apple.jpeg" />
    </div>
  </div>
</section>

<!-- sponsors section -->
<section class="sponsors">
  <div class="sponsors-title">
    <div class="arrow-accent"></div>
    <h1>We Looove Our Sponsors</h1>
  </div>
  <div class="sponsors-links">
    <ul>
      <li>sponsor link</li>
    </ul>
  </div>
  <div class="sponsors-pull">
    <div class="arrow-action"></div>
    <h3>interested in being a sponsor?</h3>
  </div>
</section>

<!-- gala section -->
<section class="gala">
  <div class="gala-title">
    <div class="arrow-accent"></div>
    <h1>And We Can Really Put On A Show</h1>
  </div>
  <div class="gala-pgraph">
    <p>
      <span><h3>Our Annual Independence Day Gala is</h3></span> here will go
      some text that explains what this gala is. It should be substantive yet
      nice.
    </p>
    <div class="pgraph-link">
      <div class="arrow-accent"></div>
      <a routerLink="/"> GET GALA TICKETS</a><br />
      <a routerLink="/"> NOT CONVINCED? – FIND OUT MORE</a>
    </div>
  </div>
  <div class="image-wrapper">
    gala picture
    <img src="../assets/img/apple.jpeg" />
  </div>
</section>

<!-- contact section -->
<section class="contact">
  <div class="contact-title">
    <div class="arrow-accent"></div>
    <h1>Send Us Messages (& Gifts)</h1>
  </div>
  <div class="contact-message">
    <input type="text" placeholder="Name" />
    <input type="text" placeholder="Email" />
    <textarea type="text" placeholder="Message"></textarea>
  </div>
</section>
