<!-- contact section -->
<section class="contact">
  <div class="contact-title">
    <div class="arrow-accent"></div>
    <h1>Send Us Messages (& Gifts)</h1>
  </div>
  <div class="contact-message">
    <input type="text" placeholder="Name" />
    <input type="text" placeholder="Email" />
    <textarea type="text" placeholder="Message"></textarea>
  </div>
  <svg class="icon-svg" viewBox="0 0 100 100">
    <use xlink:href="#facebook-icon" x="0" y="0" />
  </svg>
  <svg class="icon-svg" viewBox="0 0 100 100">
    <use xlink:href="#insta-icon" x="0" y="0" />
  </svg>
</section>
