<!-- initiatives/programming section -->
<section class="initiatives">
  <div class="initatives-title">
    <div class="arrow-accent"></div>
    <h1>We've Got Inititiative(s)</h1>
  </div>
  <div class="image-wrapper">
    short and wide image here!
    <img src="../assets/img/apple.jpeg" />
  </div>
  <div class="image-wrapper">
    square image here!
    <img src="../assets/img/apple.jpeg" />
  </div>
  <div class="inititaitves-pgraph">
    <p>
      Some text about each initiative will go here. Ideally it will be fairly
      substantial.
    </p>
  </div>
  <div class="initiatives-links">
    <h2><a>Mentorship</a></h2>
    <h2><a>Naija Feels</a></h2>
    <h2><a>Internships Across</a></h2>
    <h2><a>Nigerian Collegiate Conf.</a></h2>
  </div>
</section>
